body{
    background: url("../images/Background3InscriptionContact.png");
    background-size:cover;
    color: aliceblue;
    scroll-behavior: smooth;
}

img{
    padding-top: 20px;
    
}

nav {
    vertical-align: bottom;
    width: 80%;
}    

ul li, .head {
    display: inline-block;
}

header{
    color: aliceblue;
    font-family: 'Radio Canada', sans-serif; 
}

#menuPrinc li a#current {
    color: yellow;
}

#menuPrinc li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 21px;
    padding: 20px;
     
}

#menuPrinc li a:hover {
    color: yellow;
    transition: 300ms;
    text-shadow: 0 0 3px yellow;
}

/*////////////////////////////////////////////////////////////////////*/

#main{
    font-family: 'Radio Canada', sans-serif ;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
    margin-left: 41%;

}

h2:first-of-type{
    margin-left: 20%;
    font-family: 'Times New Roman', Times, serif;
}

#infos{   
    display: flex;
}

#infos p{
    display: inline;
    text-shadow: 0.1em 0.1em 0.05em black;
}

#infos img{
    width: 30px;
}

#infos a{
    color: rgb(179, 141, 214);
    text-decoration: none;
}

#rs{
    display: inline;
    width: 45%;
    font-size: 30px;   
}

#mailtel{
    display: inline;
    width: 52%;
    font-size: 27px;
}

#email, #tel{
    align-items: baseline;
}

textarea {
    border: none;
    border-radius: 5px;
    color: black;
    background-color: #28e28b71;
    font-size: 17px; 
}  

#envoi button{
    width: 200px;
    height: 50px;
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-family: 'Radio Canada', sans-serif; 
    font-size: 18px;
}

#envoi{
    display: flex;
    align-items: center;
    position: relative;
    width: 200px;
    height: 60px;
    border-radius: 10px;
}

#envoi:hover {
    background-color: #28e28b71;
    border: 1px solid yellow;
    color: yellow;
    transition: 200ms;  
}

#envoi img{
    padding-bottom: 20px;
}
